option, button {
	font-family: 'Roboto Condensed', sans-serif;
}
h3{
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28px !important;
}
input {
	padding: 1px 4px;
}
form {
	width: 90%;
}
.row#datos {
	width: 90%;
	border-radius: 20px;
	border: solid 0.5pt #97c3f4;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 5px 5px 5px rgba(136, 136, 136, 1);
}
.bloque-boton {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
}
.botones{
	background-color: rgba(0, 91, 155, 1);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.botones:hover{
	text-decoration: none !important;
	color: white !important;
}
#datos span {
	color: red;
}
#boton {
	background-color: #559ff4;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 5px;
	color: white;
}
input#imagen{
  	color: transparent;
  	width: 100%;
}
.titulo-datos{
	border-bottom: 2px solid black;
	font-size: 15px;
}
#col1{
	border-right: none;
}
@media (min-width: 768px){
	.container {
		width: 100%;
	}
	.row#datos {
		width: 700px;
		padding-top: 20px;
	}
	#col1{
		border-right: 1px solid #559ff4; 
	}
	.titulo-datos{
		font-size: 20px;
	}
}