option, button {
	font-family: 'Roboto Condensed', sans-serif;
}
h3 {
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: 'Kaushan Script', cursive;
	color: white;
	font-size: 45px;
}
input {
	padding: 1px 4px;
}
form {
	width: 90%;
}
.row#datos {
	width: 90%;
	border-radius: 20px;
	border: solid 0.5pt #97c3f4;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 5px 5px 5px rgba(136, 136, 136, 1);
}
#bloque-boton {
	text-align: center;
	margin-top: 10px;
}
#espol {
	padding: 3px;
	width: 35%;
	margin-bottom: 15px;
}
#opciones {
	padding: 6px 12px;
	border-bottom-color: rgb(204, 204, 204);
}
#campos {
	color: red;
	font-size: 13px;
	padding-left: 0px;
	margin: 10px 0px;
}
span {
	color: red;
}
#boton {
	margin-bottom: 15px;
}
#facultad {
	padding: 0px 0px 5px 0px;
	margin-bottom: 5px;
}
@media (min-width: 420px){
	.container {
		width: 100%;
	}
	.row#datos {
		width: 363px;
	}
}