.row#datos {
	width: 70%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	border: solid 0.5pt #97c3f4;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 5px 5px 5px rgba(136, 136, 136, 1);
}
#datos_objeto {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-right: 1px solid #559ff4;
}
img {
	margin: auto;
	padding: 10px 15px;
}
#mapa {
	height: 300px;
	width: 100%;
	margin-bottom: 10px;
}
html, body {
	height: 100%;
}
#datos_especificos{
	margin-top: 30px;
	margin-bottom: 30px;
}
h2#nombre_objeto {
	font-size: 25px;
}
@media (max-width: 768px){
	.row#datos {
		width: 90%;
	}
	h2#nombre_objeto {
    	font-size: 20px;
	}
	h3{
		font-size: 15px;
		margin-top: 0px;
	}
	#datos_objeto {
		border-right: none;
		margin-bottom: 0px;
	}
}