.container {
	padding: 0px;
}
body{
	background: url('../img/fondo3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row#cabecera {
	background-color: #559ff4;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
h1, h3, a, p, input, label {
	font-family: Raleway;
}
h1 {
	text-align: center;
	margin-bottom: 20px;
}

#datos{
	margin-bottom: 10%;
	margin-top: 10%;
}

img{
	max-width: 100%;
	opacity: 0.4;
}
#row1{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 1.5pt solid #97c3f4;
	border-bottom: 1pt solid black;
    background-color: rgba(255,255,255,0.8);
}
#row2{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1.5pt solid #97c3f4;
	border-top: none;
	
    background-color: rgba(255,255,255,0.8);
}
#bloque1{
	background-image: url("../img/buscar.jpg");
}
#bloque2{
	background-image: url("../img/reportar.jpg");
}
#bloque1,#bloque2{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    opacity: 0.6;

}
#bloque1:hover,#bloque2:hover{
    opacity: 1;

}
#bloque1 h1, #bloque2 h1 {
    padding: 25%;
    z-index: 2;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 3px 3px 3px black;
    color: white;
} 
#titulo{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-bottom: 2px;
}
#subtitulo{
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 30px;
	margin-top: 2px;
}
@media only screen and (min-width: 992px){
	#datos{
		width: 50%;
	}	
	#bloque1 h1, #bloque2 h1{
		font-size: 25px;
	}
	#bloque1{
		border-right: 2px dotted #559ff4;
	}
	#bloque1:hover{
		box-shadow: 6px 0px 5px #888888;
		border-right: none;
	}
	#bloque2:hover{
		box-shadow: -6px 0px 5px #888888;
	}
}
@media only screen and (min-width: 768px) and (max-width: 990px){
	#datos{
		width: 60%;
	}	
	#bloque1 h1, #bloque2 h1{
		font-size: 25px;
	}
	#bloque1{
		border-right: 2px dotted #559ff4;
	}
	#bloque1:hover{
		box-shadow: 6px 0px 5px #888888;
		border-right: none;
	}
	#bloque2:hover{
		box-shadow: -6px 0px 5px #888888;
	}

}
@media only screen and (min-width: 630px) and (max-width: 768px){
	#datos{
		width: 60%;
	}	
	#bloque1 h1, #bloque2 h1{
		font-size: 30px;
		padding: 15% 25%;
	}
	#bloque1, #bloque2 {
    	background-size: 50%;
	}
	#bloque1{
		border-bottom: 2px dotted #559ff4;
	}
	#bloque1:hover{
    	background-size: 60%;
    	box-shadow: 0px 6px 5px #888888;
    	border-bottom: none;
	}	
	#bloque2:hover {
    	background-size: 60%;
    	box-shadow: 0px -6px 5px #888888;
	}	

}
@media only screen and (max-width: 630px){
	#datos{
		width: 80%;
		height: 
	}	
	#bloque1 h1, #bloque2 h1{
		font-size: 25px;
		padding: 20% 25%;

	}
	#bloque1{
		border-bottom: 2px dotted #559ff4;;
	}
	#bloque1, #bloque2 {
    	background-size: 60%;
	}	
	#bloque1:hover{
    	box-shadow: 0px 6px 5px #888888;
    	border-bottom: none;
	}	
	#bloque2:hover {
    	box-shadow: 0px -6px 5px #888888;
	}	
}

