#buscador {
	width: 70%;
	margin: 10px auto 10px auto;
}
.boton_buscar {
	margin: 3px 0px;
	padding: 3px 0px;
}
.barra {
	padding: 3px 5px;
	margin: 3px 0px 3px 0px;
}
.row.objeto {
	width: 70%;
	padding: 10px;
	border-radius: 20px;
	margin: 10px auto 10px auto;
	background-color: rgba(255,255,255,0.8);
	border: solid 0.5pt #97c3f4;
	box-shadow: 5px 5px 5px rgba(136, 136, 136, 1);
}
.row.objeto div {
	margin: auto;
}
img {
	margin: auto;
	padding: 10px 15px;
}
span {
	display: none;
}
.texto {
	padding: 10px 15px;
}
.bloque_boton {
	padding: 10px 15px;
	text-align: center;
}
p {
	font-style: italic;
	margin-bottom: 3px;
	text-align: justify;
}
.descripcion > p{
	font-style: normal;
	margin-bottom: 20px;
}
.boton_detalles{
	background-color: rgba(0, 91, 155, 1);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

}
.boton_detalles:hover{
	text-decoration: none;
	color: white ;
}
@media (max-width: 768px){
	#buscador {
		width: 90%;
	}
	.row.objeto {
		width: 90%;
	}
}