.grafico{
    width: 55%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 30px;
    border: 0.5pt solid #97c3f4;
    margin-bottom: 7%;
    margin-top: 7%;
}   
.bar {
    fill: #5f89ad;
}
        
.axis {
    font-size: 13px;
}
        
.axis path, .axis line {
    fill: none;
    display: none;
}
        
.label {
    font-size: 13px;
}
p {
    margin: 30px 10px 30px !important;
    font-size: 20px;
    text-align: justify;
}
@media only screen and (min-width: 630px) and (max-width: 767px){
    .grafico{
        width: 60%;
    }

}
@media only screen and (max-width: 629px){
    .grafico{
        width: 85%;
    }
}