a:hover{
	text-decoration: none;
}
a{
	text-decoration: none;
}
#datos{
	width: 40%;
	margin-bottom: 10%;
	margin-top: 10%;
}
img{
	max-width: 100%;
	opacity: 0.4;
}
#row1{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 0.5pt solid #97c3f4;
	border-bottom: 0.5pt solid #97c3f4;
    background-color: rgba(255,255,255,0.8);
}
#row2{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 0.5pt solid #97c3f4;
	border-top: none;
    background-color: rgba(255,255,255,0.8);
}
#bloque1{
	background-image: url("../img/buscar.jpg");
	border-bottom-left-radius: 20px;
	border-right: 0.5pt solid #97c3f4;
}
#bloque2{
	background-image: url("../img/reportar.jpg");
	border-bottom-right-radius: 20px;
}
#bloque1,#bloque2{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    opacity: 0.6;
}
#bloque1:hover,#bloque2:hover{
    opacity: 1;
    background-size: 55%;
}
#bloque1:hover{
    border-right: none;
}
#bloque1 h1, #bloque2 h1 {
    padding: 25%;
    text-align: center;
    z-index: 2;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 2px 2px 2px #000;
    color: white;
    font-size: 20px;
	padding: 25% 25% 25% 25%;
}
#bloque1 a:hover, #bloque2 a:hover {
	text-decoration: none;
	text-shadow: 2px 2px 2px #3dadac;
}
h2{
	text-align: center;
	font-size: 28px;
} 
#titulo{
	margin-bottom: 0px;
	font-size: 25px;
}
#sub-titulo{
	margin-top: 1px;
	font-size: 25px;
}
#bloque1:hover{
	box-shadow: 0px 6px 5px #888888;
	border-bottom: none;
}	
#bloque2:hover {
	box-shadow: 0px 6px 5px #888888;
}
@media only screen and (min-width: 630px) and (max-width: 767px){
    #bloqueTitulo h2{
		font-size: 20px;
	}
	#bloque1 h1, #bloque2 h1{
		font-size: 28px;
		padding: 25% 25% 25% 25%;
	}
	#bloque1, #bloque2 {
		background-size: 50%;
	}
	#bloque1{
		border-style: none;
		border-bottom: 0.5pt solid #97c3f4;
		border-radius: 0px;
	}
	#bloque1:hover{
    	box-shadow: 0px 6px 5px #888888;
    	border-bottom: none;
    	background-size: 50%;
	}	
	#bloque2:hover {
    	box-shadow: 0px -6px 5px #888888;
    	background-size: 50%;
	}	
}
@media only screen and (max-width: 629px){
	#datos{
		width: 70%;
	}
	#bloqueTitulo h2{
		font-size: 20px;
	}
	#bloque1 h1, #bloque2 h1{
		font-size: 22px;
	}
	#bloque1, #bloque2 {
		background-size: 45%;
	}
	#bloque1{
		border-style: none;
		border-bottom: 0.5pt solid #97c3f4;
		border-radius: 0px;
	}
	#bloque1:hover{
    	box-shadow: 0px 6px 5px #888888;
    	border-bottom: none;
    	background-size: 50%;
	}	
	#bloque2:hover{
		box-shadow: 0px -6px 5px #888888;
	}
}