a:hover{
	text-decoration: none;
}
a{
	text-decoration: none;
}
h3 {
	text-align: center;
	margin-bottom: 20px;
}
label {
	margin-left: 15px;
}
#datos {
	width: 280px;
	border-radius: 20px;
	border: solid 1.5pt #97c3f4;
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: rgba(255,255,255,0.8);
}
#usuario, #contraseña {
	width: 90%;
	margin-left: 15px;
	padding: 1px 4px;
}
#bloque-boton {
	text-align: center;
	margin-top: 10px;
}
#datos > p {
	margin-top: 20px;
}
.boton_ingresar{
	background-color: #559ff4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

}
.boton_ingresar:hover{
	text-decoration: none !important;
	color: white !important;
}

#bloque-link {
	text-align: center;
	margin: 10px 0px;
}
a {
	color: #559ff4;
}
link:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
		padding: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (min-width: 992px) {
	.row#datos {
		width: 350px;
	}
}

@media (min-width: 1200px) {
	.row#datos {
		margin-top: 10%;
		margin-bottom: 0%;
	}
}